<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header_box">
                <div class="left">
                    <img src="./static/logo.png" alt="">
                </div>
                <div class="right">
                    <div class="top">
                        <span>客服电话：0000-000-000</span>
                        <span>China（中文） |  English（英文）</span>
                    </div>
                    <div class="middle">
                        <input type="text">
                    </div>
                    <div class="bot">           
                        <a href="" class="on">首页</a>
                        <a href="{{url_for('企业简介')}}">企业简介</a>
                        <a href="{{url_for('下属企业')}}">下属企业</a>
                        <a href="{{url_for('产品中心')}}">产品中心</a>
                        <a href="{{url_for('主营业务')}}">主营业务</a>
                        <a href="{{url_for('企业文化')}}">企业文化</a>
                        <a href="{{url_for('企业招聘')}}">企业招聘</a>
                        <a href="{{url_for('联系我们')}}">联系我们</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <img src="./static/banner.jpg" alt="">
        </div>
        <div class="news">
            <div class="new_box">
                <div class="title">
                    <p>最新报告</p>
                    <p>产品中心</p>
                    <p>联系我们</p>
                </div>
                <div class="new_list">
                    <div class="news_item">
                        <p>
                            <span class="tit">最新发布精美小产品美甲贴片...</span>
                            <span class="time">[2024-02-03]</span>
                        </p>
                        <p>
                            <span class="tit">最新发布精美小产品美甲贴片...</span>
                            <span class="time">[2024-02-03]</span>
                        </p>
                        <p>
                            <span class="tit">最新发布精美小产品美甲贴片...</span>
                            <span class="time">[2024-02-03]</span>
                        </p>
                        <p>
                            <span class="tit">最新发布精美小产品美甲贴片...</span>
                            <span class="time">[2024-02-03]</span>
                        </p>
                        <p>
                            <span class="tit">最新发布精美小产品美甲贴片...</span>
                            <span class="time">[2024-02-03]</span>
                        </p>
                        <p>
                            <span class="tit">最新发布精美小产品美甲贴片...</span>
                            <span class="time">[2024-02-03]</span>
                        </p>
                        <p>
                            <span class="tit">最新发布精美小产品美甲贴片...</span>
                            <span class="time">[2024-02-03]</span>
                        </p>
                        <p>
                            <span class="tit">最新发布精美小产品美甲贴片...</span>
                            <span class="time">[2024-02-03]</span>
                        </p>
                    </div>
                    <div class="news_item">
                        <div class="new_middle">
                            <div class="tips">
                                111
                            </div>
                            <div class="news_img">
                                <img src="./static/goods1.png" alt="">
                            </div>
                            <div class="msg">
                                <p class="tit">
                                    最新产品
                                </p>
                                <p class="con">报道产品的内容内容内容内容
                                    内容...[详情]</p>
                            </div>
                        </div>
                        <div class="new_middle">
                            <div class="tips">
                                111
                            </div>
                            
                            <div class="news_img">
                                <img src="./static/goods1.png" alt="">
                            </div>
                            <div class="msg">
                                <p class="tit">
                                    最新产品
                                </p>
                                <p class="con">报道产品的内容内容内容内容
                                    内容...[详情]</p>
                            </div>
                        </div>
                        <div class="new_middle">
                            <div class="tips">
                                111
                            </div>
                            <div class="news_img">
                                <img src="./static/goods1.png" alt="">
                            </div>
                            <div class="msg">
                                <p class="tit">
                                    最新产品
                                </p>
                                <p class="con">报道产品的内容内容内容内容
                                    内容...[详情]</p>
                            </div>
                        </div>
                    </div>
                    <div class="news_item">
                        <div class="top_img">
                            <img src="./static/goods2.png" alt="">
                        </div>
                        <p>服务热线：13721053979</p>
                        <p>企业电话：19822670672</p>
                        <p>企业地址：xxxxxxxxxxxxxxxx
                            xxxxxx</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="yw">
            <div class="yw_box">
                <div class="title">
                    主营业务
                </div>
                <div class="list">
                    <div class="item">
                        <div class="top_img">
                            <img src="./static/goods3.png" alt="">
                        </div>
                        <div class="txt">
                            <span>业务名称</span>
                            <img src="./static/arrows.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="top_img">
                            <img src="./static/goods3.png" alt="">
                        </div>
                        <div class="txt">
                            <span>业务名称</span>
                            <img src="./static/arrows.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="top_img">
                            <img src="./static/goods3.png" alt="">
                        </div>
                        <div class="txt">
                            <span>业务名称</span>
                            <img src="./static/arrows.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="top_img">
                            <img src="./static/goods3.png" alt="">
                        </div>
                        <div class="txt">
                            <span>业务名称</span>
                            <img src="./static/arrows.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="hf">
                    <div class="hf_item">
                        <div class="img">
                            <img src="./static/icon11.jpg" alt="">
                        </div>
                        <div class="txt">
                            <p class="txt1">发展历程</p>
                            <p class="txt2">蓬勃发展，兴旺昌盛</p>
                        </div>
                    </div>
                    <div class="hf_item">
                        <div class="img">
                            <img src="./static/icon22.jpg" alt="">
                        </div>
                        <div class="txt">
                            <p class="txt1">资质荣誉</p>
                            <p class="txt2">重视合作，确保质量，严守承诺</p>
                        </div>
                    </div>
                    <div class="hf_item">
                        <div class="img">
                            <img src="./static/icon33.jpg" alt="">
                        </div>
                        <div class="txt">
                            <p class="txt1">最新产品</p>
                            <p class="txt2">时尚弄潮儿</p>
                        </div>
                    </div>
                    <div class="hf_item">
                        <div class="img">
                            <img src="./static/icon44.jpg" alt="">
                        </div>
                        <div class="txt">
                            <p class="txt1">诚聘精英</p>
                            <p class="txt2">有品质有市场，有改善有进步</p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="share">
            <div class="share_box">
                <div class="left">
                    分享：
                    <img src="./static/icon2.jpg" alt="">
                    <img src="./static/icon2.jpg" alt="">
                    <img src="./static/icon2.jpg" alt="">
                    <img src="./static/icon2.jpg" alt="">
                    <img src="./static/icon2.jpg" alt="">
                    <img src="./static/icon2.jpg" alt="">
                </div>
                <div class="right">
                    <input type="text">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_box">
                <div class="item">
                    <p>企业简介</p>
                    <p>企业简介</p>
                    <p>企业简介</p>
                    <p>企业简介</p>
                    <p>企业简介</p>
                    <p>企业简介</p>
                </div>
                <div class="item">
                    <p>下属企业</p>
                    <p>下属企业</p>
                    <p>下属企业</p>
                    <p>下属企业</p>
                    <p>下属企业</p>
                    <p>下属企业</p>
                </div>
                <div class="item">
                    <p>产品中心</p>
                    <p>产品中心</p>
                    <p>产品中心</p>
                    <p>产品中心</p>
                    <p>产品中心</p>
                    <p>产品中心</p>
                </div>
                <div class="item">
                    <p>主营业务</p>
                    <p>主营业务</p>
                    <p>主营业务</p>
                    <p>主营业务</p>
                    <p>主营业务</p>
                    <p>主营业务</p>
                </div>
                <div class="item">
                    <p>企业文化</p>
                    <p>企业文化</p>
                    <p>企业文化</p>
          
                </div>
                <div class="item">
                    <p>企业招聘</p>
                    <p>企业招聘</p>
                    <p>企业招聘</p>
                </div>
                <div class="item">
                    <p>联系我们</p>
                    <p>联系我们</p>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
             <div class="footer_bottom_box">
                 <p>版权所有：四元的羊    备案号：？icp备00000号</p>
                 <p>服务热线：19822670672</p>
             </div>
        </div>
    </div>
</body>
</html>